<div layout="column">
  <md-toolbar>

    <div class="md-toolbar-tools">
      <h2 md-truncate flex>Bienvenue Claire Veronneau</h2>

      <md-button>
        Se déconnecter
      </md-button>
    </div>

  </md-toolbar>
</div>
<div layout="row" layout-align="center none">
  <md-content flex="80">
    <div layout="row" layout-align="end">
      <md-button class="md-raised">Exporter le livret</md-button>
    </div>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Période 2</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
          Greene's musical language: feel it. It's a simple request, as well...
        </p>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
          Greene's musical language: feel it. It's a simple request, as well...
        </p>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
          Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Période 1</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
          Greene's musical language: feel it. It's a simple request, as well...
        </p>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
          Greene's musical language: feel it. It's a simple request, as well...
        </p>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
          Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>
  </md-content>
</div>