.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #DADADA;
}

.green.darken-2 {
 background-color: #43a047;
}

.green.darken-3 {
  background-color: #61b765;
}

.bg-booklet {
  background-image: url(../images/booklet.png);
  background-size: 100% 100%;
  /* #cb6565 #269486 #a0b75e*/
}

.no-margin {
  margin: 0;
}

body > ui-view > div > div.bg-booklet.layout-align-center-center.layout-row.flex-gt-sm-65.flex > md-card {
  background-image: rgba(255,255,0,0.8);
}

.p-home {
  font-size: 0.6em;
}